
.float {
	float:left;
}

.bodyContent {
	background-color: lightsteelblue;
}

#content {
    max-width: 675px;
    margin: auto;
    padding: 10px;
    background-color: white;
}


.display {
	list-style-type: none;
	margin-top: : 15px;
	margin-bottom: 15px;
	padding: 10px;
	overflow: hidden;
	background-color: midnightblue;
}
.notActive :hover:not(.active) {
	background-color: lavender;
}
.size {
	display: block;
	color: white;
	text-align: center;
	padding: 10px 25px;
	text-decoration: none;
}
.active {
	background-color: #4CAF50;
}
.easternConference {
	text-decoration: underline;
}
#aboutMilwaukeeBucks {
	font-size: 18px;
	position: static;
}

.aboutEveryPage {
	font-size: 17px;
}

.rosterPositions {
	background-color: darkgoldenrod;
}

.name1, .name2 {
	padding-left: 5px;
	font-size: 23px;
	padding-right: 30px;
	text-decoration: underline;
}
.playerNames {
	padding-left: 5px;
	font-size: 20px;
	padding-right: 50px;
}

.footer {
	background-color: midnightblue;
	color: white;
	font-weight: bold;
	max-width: 675px;
    margin: auto;
    padding: 10px;

}

.email {
	padding-right: 100px;
	padding-left: 100px;

}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: dimgray;
    color: white;
}

.next {
    background-color: dimgray;
    color: white;
    float: right;

}

.search {
    width: 200px;
    box-sizing: border-box;
    border: 4px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
    background-color: white;
    background-image: url('img/search.jpg');
    background-position: 5px 5px; 
    background-repeat: no-repeat;
    padding: 5px 20px 5px 45px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    float: right;
}

.search: focus {
	width:100%;
}

.container {
width: 100

}



